body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#tweets {
	margin: 0 auto;
	margin-top: 20px;
	background-color: #FFFFDD;
	width: 100%;
	height: 350px;
	overflow: auto;
	border: 1px solid #E3E3E3;
}
