body {
  padding: 30px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.clearer {
	clear: both;
}

h1 {
	float: left;
	margin-right: 20px;
}

#tweets {
	margin: 0 auto;
	margin-top: 20px;
	background-color: #FFFFDD;
	width: 100%;
	height: 400px;
	overflow: auto;
	border: 1px solid #E3E3E3;
}

#tweets ul {
	list-style-type: none;
	padding-left: 10px;
    padding-right: 30px;
}

#tweets ul li {
	background-color: #FFF;
	margin-bottom: 10px;
	padding: 10px;
	width: 100%;
	border: 1px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


#tweets #avatar {

}

#tweets #info {
	width: 90%;
	float: right;
}

#tweets #date {
	display: block;
}

#tweets #username {
	font-weight: bold;
	display: block;
}

#tweets #text {
	word-wrap: break-word;
}

#debug {
	display: none;
	position: fixed;
	bottom: 0;
	right: 10px;
	background-color: #FFFFDD;
	border: 0px solid #CCC;
	border-bottom: none;
	width: 300px;
	padding: 10px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.75);
}

#debug #value {

}
