* {
	margin: 0;
	padding: 0;
}

html,
body,
#wrapper {
	min-width: 320px;
	width: 100%;
	height: 100%
}

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.clearer {
	clear: both;
}

h1 {
	float: left;
	margin-right: 20px;
}

#tweets {
	margin: 0 auto;
	background-color: #FFFFDD;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#tweets ul {
	list-style-type: none;
	padding-left: 10px;
    padding-right: 10px;
}

#tweets ul li {
	position: relative;
	min-height: 58px;
	background-color: #FFF;
	margin-top: 10px;
	border: 1px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#tweets #avatar {
	position: absolute;
	top: 50%;
	margin-top: -24px;
	margin-left: 5px;
}

#tweets #info {
	width: 90%;
	float: right;
}

#tweets #date {
	display: block;
}

#tweets #username {
	font-weight: bold;
	display: block;
}

#tweets #text {
	word-wrap: break-word;
}

#stats {
	z-index: 999;
	display: block;
	position: relative;
	bottom: 0;
	margin: 0 auto;
	margin-top: -36px;
	background-color: #FFFFDD;
	border: 0px solid #CCC;
	border-bottom: none;
	width: 300px;
	padding: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.75);
}